# quat was here!!!!!!

/bin
/build
/**/.gradle
/.classpath
/.project
/.settings
/.metadata
/download
.idea/

# gradle haxx
/**/mcp726a.zip
/**/mcp726a-forged.zip
/**/forge*.zip
/**/forge*.jar

# personal use
lol.sh
*.jar

# Dammit krita
*.png~
*.kra~
*autosave.kra